*
{
	box-sizing: border-box;
	font-family: sans-serif;
	color:black;
	/* overflow-y: auto; */
	
	
}
body
{
	margin: 0;
    padding: 0;
	

}
.formulariocaja
{
	background-color: white;
    width: 450px;
    height: 600PX;
    position: relative;
    margin: auto;
    padding: 1em;
	border-radius: 5px;
	color:white;
	border:0.1em solid #C2C2C2;
    /* overflow-y: auto; */
}
.botonenviar
{
    width: 80%;
    padding: 12px 30px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    border: 0;
    outline: none;
    border-radius: 10px;
	border:1px solid black;
	font-size:1.2em;
	color:white;
	background-color:black;
	text-align:center;
	margin:5%;
	font-weight: bold;
	
}
.cajafuera
{
    width: 100vw;
    height: 100vh;
    display: grid;
	overflow: hidden;
	background: #ffc244ff;	
	

}
.imgv
{	
		padding:20px;
}
.imgv img
{
	cursor: pointer;
	max-width: 20%;
	height:auto;
	margin-right:10px;
	margin-left:10px;
}