.sushiBox {
    border: 1px solid #000000; 
    padding: 10px; 
    margin: 10px; 
    display: flex; 
    background-color: #e3dddd;
}

.sushiBox img {
    width: 100px; 
    height: 100px;
    margin-right: 10px; 
}

.contenido-producto {
    flex-grow: 1;
}

.contenido-producto h3,
.contenido-producto p {
    margin: 0;
}

.precio {
    font-weight: bold;
    text-align: right;
}


.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buscar {
    margin-right: 10px;
}

aside h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    font-size: 18px;
    margin-bottom: 5px;
}
.wrapper {
    display: flex;
}

.main {
    flex-grow: 1;
    padding: 20px; 
}

aside {
    width: 200px; 
    background-color: #ffc244; 
    padding: 20px; 
}

