{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% trans "ALO TLE DELISIA - Página Principal" %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
</head>
<body>
    <div class="header-desktop">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col d-flex justify-content-start">
                    <button class="logo-btn-desktop">
                        <a href="{% url 'principal' %}"><img src="{% static 'imagenes/logo.png' %}" alt="LOGO" ></a>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <p>ALO TLE DELISIA</p>
                </div>
                <div class="col d-flex justify-content-end">
                    <button class="usuario-btn-desktop">
                        <img src="{% static 'imagenes/perfil.png' %}" alt="USUARIO">
                    </button>
                    <button class="cerrar-btn-desktop">
                        <a href="{% url 'cerrar' %}">
                            <img src="{% static 'imagenes/cerrar.png' %}" alt="CERRAR">
                        </a>
                    </button>
                </div>
                <div class="idioma">
                    <select id="languageSelect">
                        <option value="en" {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                        <option value="es" {% if request.LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
                    </select>
                </div>
            </div>                
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <a href="{% url 'principal' %}"><img src="{% static 'imagenes/logo.png' %}" alt="Logo" class="footer-logo"></a>
                        <h4>{% trans "Colabora con nosotros"%}</h4>
                        <ul style="list-style: none; padding: 0;">
                            <li>{% trans "Trabaja con nosotros"%}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-content">
                        <h4>{% trans "Enlaces de Interés"%}</h4>
                        <ul>
                            <li>{% trans "Acerca de nosotros"%}</li>
                            <li>{% trans "Preguntas frecuentes"%}</li>
                            <li>{% trans "Contacto"%}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-content">
                        <h4>{% trans "Síguenos"%}</h4>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script>
        // Obtén el elemento select
        const languageSelect = document.getElementById('languageSelect');
    
        // Añade un evento de cambio al select
        languageSelect.addEventListener('change', function () {
            // Obtén el valor seleccionado
            const selectedLanguage = languageSelect.value;
    
            // Redirige a la vista con el nuevo idioma
            window.location.href = `{% url 'set_language' %}?language=${selectedLanguage}`;
        });
    </script>


</body>
</html>
