{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ALO TLE DELISIA - Página Principal{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
</head>
<body>
    <div class="header-desktop">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col d-flex justify-content-start">
                    <button class="logo-btn-desktop">
                        <a href="{% url 'principal' %}"><img src="{% static 'imagenes/logo.png' %}" alt="LOGO" style="width: 45px; height: 35px;"></a>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <p>ALO TLE DELISIA</p>
                </div>
                <div class="col d-flex justify-content-end">
                    <button class="usuario-btn-desktop">
                        <img src="{% static 'imagenes/perfil.png' %}" alt="USUARIO" style="width: 35px; height: 35px;">
                    </button>
                    <button class="cerrar-btn-desktop">
                        <a href="{% url 'cerrar' %}">
                            <img src="{% static 'imagenes/cerrar.png' %}" alt="CERRAR" style="width: 35px; height: 35px;">
                        </a>
                    </button>
                </div>
                <div class="idioma">
                    <select>
                        <option value="english">English</option>
                        <option value="spanish">Spanish</option>
                    </select>
                </div>
            </div>                
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <a href="{% url 'principal' %}"><img src="{% static 'imagenes/logo.png' %}" alt="Logo" class="footer-logo"></a>
                        <h4>Colabora con nosotros</h4>
                        <ul style="list-style: none; padding: 0;">
                            <li>Trabaja con nosotros</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-content">
                        <h4>Enlaces de Interés</h4>
                        <ul>
                            <li>Acerca de nosotros</li>
                            <li>Preguntas frecuentes</li>
                            <li>Contacto</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-content">
                        <h4>Síguenos</h4>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
