{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sushiDonosti.css' %}">
    <div class="wrapper">
        <aside class="lado">
            <h2>Secciones</h2>
            <ul>
                {% for categoria in categorias %}
                <li><a href=#{{categoria.nombre}}>{{categoria.nombre}}</a></li>
                {%endfor%}
            </ul>
        </aside>
        <div class="main">
            <div class="primerBloque">
                <h1>Jardin de sabores</h1>
                <br>
                <div class="buscador">
                    <input type="text" class="buscar" placeholder="Busca aquí">
                    <button class="search-button">&#128269; Buscar</button>
                </div>
            </div>
            <hr>
            <div class="productos">
                <div id="Entrante">
                <h2>Entrantes</h2>
                {% for producto in productosTipo1 %}
                    <div class="sushiBox">
                        <img src="{% static 'imagenes/' %}{{ producto.nombre|lower }}.png" alt="{{ producto.nombre }}" style="width: 70px; height: 70px;">
                        <div class="contenido-producto">
                            <h3>{{ producto.nombre }}</h3>
                            <p>{{ producto.descripcionProducto }}</p>
                            <p class="precio"><strong>{{ producto.precio }}€</strong></p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <hr>
                <div id="Principal">
                <h2>Plato principal</h2>
                {% for producto in productosTipo3 %}
                    <div class="sushiBox">
                        <img src="{% static 'imagenes/' %}{{ producto.nombre|lower }}.png" alt="{{ producto.nombre }}" style="width: 70px; height: 70px;">
                        <div class="contenido-producto">
                            <h3>{{ producto.nombre }}</h3>
                            <p>{{ producto.descripcionProducto }}</p>
                            <p class="precio"><strong>{{ producto.precio }}€</strong></p>
                        </div>
                    </div>
                {% endfor %}
                </div>  
                <hr>
                <div id="Bebida">
                <h2>Bebida</h2>
                {% for producto in productosTipo4 %}
                    <div class="sushiBox">
                        <img src="{% static 'imagenes/' %}{{ producto.nombre|lower }}.png" alt="{{ producto.nombre }}" style="width: 70px; height: 70px;">
                        <div class="contenido-producto">
                            <h3>{{ producto.nombre }}</h3>
                            <p>{{ producto.descripcionProducto }}</p>
                            <p class="precio"><strong>{{ producto.precio }}€</strong></p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <hr>
                <div id="Postre">
                    <h2>Postre</h2>
                    {% for producto in productosTipo5 %}
                        <div class="sushiBox">
                            <img src="{% static 'imagenes/' %}{{ producto.nombre|lower }}.png" alt="{{ producto.nombre }}" style="width: 70px; height: 70px;">
                            <div class="contenido-producto">
                                <h3>{{ producto.nombre }}</h3>
                                <p>{{ producto.descripcionProducto }}</p>
                                <p class="precio"><strong>{{ producto.precio }}€</strong></p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
