<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VaidrollTeamLogin6</title>
	<link rel="stylesheet" href="styleLogin.css">	
</head>
<body>
	<div class="cajafuera" align="center">
		<div class="formulariocaja">
			<!-- Agrega la div para el logo -->
			<div class="imgv">
				<img src="../imagenes/logo.png" alt="Logo">
			</div>
			<form method="post" action="" name="vaidrollteam">
				<div class="formtitulo" align="left">Inicia sesion</div>
				<input type="text" name="txtusuario" placeholder="&#128273; Ingresar correo" class="cajaentradatexto">
				<input type="password" name="txtpassword" placeholder="&#128274; Ingresar contraseña" class="cajaentradatexto">
				<input type="submit" value="Iniciar sesión" class="botonenviar">
				<hr>
				<div>¿Necesitas una cuenta?  <a href="#">Registrar</a></div>
			</form>
		</div> 
	</div>
</body>
</html>
