<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alo tle delisia</title>
    <link rel="stylesheet" href="stylePrimera.css">
</head>
<body>
    <div class="hero">
        <nav>
          <img src="../imagenes/logo.png" class="logo">  <h1>Alo tle delisia</h2>
           <div>
            <a href="login.html" class="btn"> Empieza</a>
           </div>
        </nav>
           <div class="content">
            <h1> Comida china a domicio</h1>
            <p>Comida vegetariana, sushi, ramen y fusión</p>
           </div>
           <img src="../imagenes/sushi.png" class="feature-image animation">
    </div>      
</body>
</html>