{% extends 'base.html' %}

{% block content %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
    <div class="main-desktop">
        <div class="container">
            <div class="row d-flex justify-content-center mt-4">
                <h1>¿Qué te apetece comer hoy?</h1>
            </div>
            <br><br><br>
            <div class="row d-flex justify-content-center">
				{% for categoria in categorias %}
				{% if categoria.idTipoRestaurante == 2 %}
					<div class="category-btn">
						<img src="{% static 'imagenes/zanahoria.png' %}" alt="{{ categoria.nombre }}" width="65px">
						<p>{{ categoria.nombre|upper }}</p>
					</div>
					{%endif%}
					{%endfor%}
					{% for categoria in categorias %}
					{% if categoria.idTipoRestaurante == 1 %}
					<div class="category-btn">
						<a href="{% url 'SushiDonosti' %}" class="category-link">
							<img src="{% static 'imagenes/sushi1.png' %}" alt="{{ categoria.nombre }}" width="65px">
							<p>{{ categoria.nombre|upper }}</p>
						</a>
					</div>
					{%endif%}
					{%endfor%}
					{% for categoria in categorias %}
					{% if categoria.idTipoRestaurante == 3 %}
					<div class="category-btn">
						<img src="{% static 'imagenes/ramen.png' %}" alt="{{ categoria.nombre }}" width="65px">
						<p>{{ categoria.nombre|upper }}</p>
					</div>
					{%endif%}
					{%endfor%}
					{% for categoria in categorias %}
					{% if categoria.idTipoRestaurante == 4 %}
					<div class="category-btn">
						<img src="{% static 'imagenes/comidaFusion.png' %}" alt="{{ categoria.nombre }}" width="65px">
						<p>{{ categoria.nombre|upper }}</p>
					</div>
					{%endif%}
					{%endfor%}		
			</div>
		</div>
            </div>
{% endblock %}
