{% extends 'base.html' %}

{% block content %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
    <div class="main-desktop">
        <div class="container">
            <div class="row d-flex justify-content-center mt-4">
                <h1>¿Qué te apetece comer hoy?</h1>
            </div>
            <br><br><br>
            <div class="row d-flex justify-content-center">
					<div class="category-btn">
						<img src="{% static 'imagenes/zanahoria.png' %}" alt="Vegetarian" width="65px"><p>VEGETARIANA</p>
					</div>
			
					<div class="category-btn">
						<a href="{% url 'SushiDonosti' %}" class="category-btn">
							<img src="{% static 'imagenes/sushi1.png' %}" alt="sushi" width="65px">
							<p>SUSHI</p>
						</a>
					</div>
					<div class="category-btn">
						<img src="{% static 'imagenes/ramen.png' %}" alt="ramen" width="65px"><p>RAMEN</p>
					</div>
					<div class="category-btn">
						<img src="{% static 'imagenes/comidaFusion.png' %}" alt="fusion" width="65px"><p>FUSIÓN</p>
					</div>		
			</div>
		</div>
            </div>
{% endblock %}
