{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylerestaurantesSushi.css' %}">
    <div class="wrapper">
        <aside class="lado">
            <h2>Restaurantes disponibles</h2>
            <ul>
                {% for unRestaurante in restaurantes %}
                    <li><a href="{% url 'restaurante' unRestaurante.nombre %}" class="restaurante-link">{{ unRestaurante.nombre }}</a></li>
                {% endfor %}
            </ul>
        </aside>

        <main class="principal">
            <div class="primerBloque">
                <br>
                <div class="buscador">
                    <input type="text" class="buscar" placeholder="Busca aquí">
                    <button class="search-button" onclick="filtrarRestaurantes()">&#128269; Buscar</button>
                </div>
            </div>
            <div class="restaurantes">
                {% for unRestaurante in restaurantes %}
                    <a href="{% url 'restaurante' unRestaurante.nombre %}" class="restaurante-link">
                        <div class="restaurante1">
                            <img src="{% static 'imagenes/' %}{{ unRestaurante.nombre|lower }}.png" alt="{{ unRestaurante.nombre }}">
                            <p>{{ unRestaurante.nombre }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </main>
    </div>
    <script src="{% static 'js/restaurante.js' %}"></script>
{% endblock %}