{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylerestaurantesSushi.css' %}">
    <div class="wrapper">
        <aside class="sidebar">
            <h2>Restaurantes disponibles</h2>
            <ul>
                {% for un_restaurante in restaurantes %}
                    <li><a href="{% url un_restaurante.nombre %}" class="restaurante-link">{{ un_restaurante.nombre }}</a></li>
                {% endfor %}
            </ul>
        </aside>

        <main class="main-content">
            <div class="primerBloque">
                <br>
                <div class="buscador">
                    <input type="text" class="buscar" placeholder="Busca aquí">
                    <button class="search-button">&#128269; Buscar</button>
                </div>
            </div>
            <div class="restaurantes">
                {% for un_restaurante in restaurantes %}
                    <a href="{% url un_restaurante.nombre %}" class="restaurante-link">
                        <div class="restaurante1">
                            <img src="{% static 'imagenes/' %}{{ un_restaurante.nombre|lower }}.png" alt="{{ un_restaurante.nombre }}">
                            <p>{{ un_restaurante.nombre }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
